* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  color: #444;
}
.header {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 5.6rem 50rem 0rem 50rem;
}
.header-first h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #555;
  margin-bottom: 2rem;
}
.header-first p {
  font-size: 1rem;
  font-weight: 500;
  color: #999;
}
.header img {
  height: 12rem;
  width: 12rem;
  border-radius: 9px;
  margin-bottom: 2rem;
}
.section--1 {
  max-width: 110rem;
  margin: 0 auto;

  /* text-align: center; */
}
.first {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  /* padding: 1.6rem 3.2rem; */
  padding: 2rem 2rem 2rem 2rem;
}
.first img {
  width: 100%;
  width: 33rem;
}
.img--1 {
  height: 25rem;
  border-radius: 9px;
}
.imp img {
  width: 100%;
  width: 61rem;
  height: 25rem;
  border-radius: 9px;
}
.sec {
  display: grid;
  grid-template-columns: 1fr;
}
.thr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.four {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 0rem 2rem;
  /* padding: 1.6rem 0rem 1.6rem 3.2rem;
  padding: 1.6rem 3.2rem; */
  margin-bottom: 10rem;
}
.four .img--2 {
  width: 26rem;
  height: 55rem;
  border-radius: 9px;
}
.sec .img--4 {
  width: 33rem;
  height: 28rem;
  border-radius: 9px;
  margin-top: 2rem;
}
.sec img {
  width: 100%;
}
.sec .img--5 {
  width: 68rem;
  height: 25rem;
  border-radius: 9px;
}
.new {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.new-1 {
  background-color: #dcd9d990;
  width: 8rem;
  padding: 1rem 0rem;
  border-radius: 9px;
}
.new-1 h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}
.new-1 p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #999;
}
.header-first {
  margin-bottom: 4rem;
}
/* footer {
  max-width: 120rem;
  margin: 0 auto;
} */
footer h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #999;
  text-align: center;
  margin-bottom: 4rem;
}
